/* ==========coumon css starts here======== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1240px;
  height: auto;
  margin: 0 auto;
  font-family: "Urbanist", sans-serif;
}

/* ==========coumon css ends here======== */
/* ==========navber css starts here======== */
#navber {
  padding: 23px 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blue;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.nav_wrapper {
  display: flex;
  align-items: center;
}
.nav_logo {
  width: 20%;
}
.nav_menu {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
}
.nav_menu li a {
  display: inline-block;
  color: #606d93;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  transition: all linear 0.5s;
}
.nav_menu li a:hover {
  color: #192252;
  font-weight: 700;
}
.nav_btn {
  width: 20%;
  display: flex;
  justify-content: end;
}
.nav_btn a {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 8px;
  background-color: #6345d5;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  transition: all linear 0.5s;
}
.nav_btn a:hover {
  background: transparent;
  color: #6345d5;
  background-color: #fff;
}
/* ==========navber css ends here======== */