/* ==========coumon css starts here======== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1240px;
  height: auto;
  margin: 0 auto;
  font-family: "Urbanist", sans-serif;
}

/* ==========coumon css ends here======== */
/* ==========navber css starts here======== */
#navber {
  padding: 23px 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blue;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.nav_wrapper {
  display: flex;
  align-items: center;
}
.nav_logo {
  width: 20%;
}
.nav_menu {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
}
.nav_menu li a {
  display: inline-block;
  color: #606d93;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  transition: all linear 0.5s;
}
.nav_menu li a:hover {
  color: #192252;
  font-weight: 700;
}
.nav_btn {
  width: 20%;
  display: flex;
  justify-content: end;
}
.nav_btn a {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 8px;
  background-color: #6345d5;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  transition: all linear 0.5s;
}
.nav_btn a:hover {
  background: transparent;
  color: #6345d5;
  background-color: #fff;
}
/* ==========navber css ends here======== */

/* ==========counter css starts here======== */
#counter {
  background-color: #201353;
  padding-bottom: 32px;
}
.counter_wrapper {
  padding-top: 522px;
}
.counter_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.08);
  padding: 48px;
}
.counter_item {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  position: relative;
}
.counter_item:last-child::after {
  background: transparent;
}
.counter_item::after {
  content: "";
  width: 2px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  right: -47px;
  transform: translate(17px, -50%);
}
.counter_item .counter_number {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}
.counter_item .counter_pera {
  color: rgba(255, 255, 255, 0.64);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
}
.counter_item:first-child {
  justify-content: start;
}
.counter_item:last-child {
  justify-content: end;
}
/* ==========counter css ends here======== */